---
import Layout from '../layouts/Layout.astro';
import Nav from '../sections/Nav.astro';
import Header from '../sections/Header.astro';
import Projects from '../sections/Projects.astro';
import Tecnologes from '../sections/Tecnologes.astro';
---

<Layout title="Portafolio Julian">
	<main>
		<Nav></Nav>
		<Header></Header>
		<Projects></Projects>
		<Tecnologes></Tecnologes>
	</main>
</Layout>

