---
import Layout from '../layouts/Layout.astro';
import Nav from '../sections/Nav.astro';
import Header from '../sections/Header.astro';
import Projects from '../sections/Projects.astro';
import Tecnologes from '../sections/Tecnologes.astro';
import Footer from '../sections/Footer.astro';
---

<Layout title="Portafolio Julian">
	<main class=" dark:bg-zinc-900" >
		<Nav></Nav>
		<Header></Header>
		<Projects></Projects>
		<Tecnologes></Tecnologes>
		<Footer></Footer>
		
	</main>
	
</Layout>

