<section class="about h-[90rem]  w-full" >




    <script src="../scripts/script.js"></script>
</section>
    <div class="w-full m-auto text-center h-full relative">
        <h3 class="title   z-100 text-center text-white h-full pt-60 m-auto text-5xl font-extrabold">Desarrollador Web Full Stack</h3>
        <h3 class="title2  z-100 text-center text-white h-full pt-60 m-auto text-5xl font-extrabold">Experiencia en desarrollo web</h3>
        <h3 class="title3  z-100 text-center text-white h-full pt-60 m-auto text-5xl font-extrabold">Y mantenimiento de aplicaciones web Front-end</h3>
    </div>

<style>
    .title,.title2,.title3{
        filter: drop-shadow(-3px 6px 21px #000000);
        display: none;
        width: 100%;
        display: block;
        bottom: 0;
        position: fixed;
        font-family: 'Roboto', sans-serif;
        opacity: 0;
    }
    .about{    
        filter: grayscale(100%);
        background-image: url(../../public/image_bg.jpg);
        border-radius: 0px 0px 0px 0px;
        background-color: #000000;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        border-color: transparent;
        border-style: solid;
        
    }
    .a{
        filter: grayscale(100%);
    }
    .b{
        filter: grayscale(90%);
    }
    .c{
        filter: grayscale(85%);
    }
    .d{
        filter: grayscale(75%);
    }   
    .e{
        filter: grayscale(40%);
    }
    .f{
        filter: grayscale(30%);
    }

    /* .bg{
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        -webkit-text-size-adjust: 100%;
    } */

</style>
