<section class="flex mx-20">
    <div class="flex-col relative basis-full text-end content-end items-end w-full h-80 rounded-2xl bg-slate-500 p-2 ">
        <h1 class="flex ml-3  text-nowrap text-2xl font-bold">
            Michael Julian Parra Cardenas
        </h1>
        <h2 class="flex mb-4 text-lg ml-3 text-black font-bold">Front-End</h2>
        <ul class="flex mb-3 ml-2">
            <li
                class="flex font-medium size-4 text-nowrap text-black bg-white w-auto cursor-pointer text-center items-center content-center py-2 px-4 mr-2 transition-all rounded-md"
            >
                <a
                    rel="noopener"
                    target="_blank"
                    href="https://github.com/JulianP152002"
                    ><i class="fa-brands fa-github"></i>
                    <span class="list_span">Git Hub</span></a
                >
            </li>
            <li
                class="flex font-medium size-4 text-black bg-white w-auto cursor-pointer text-center items-center py-2 px-2 mr-2 transition-all rounded-md"
            >
                <a
                    rel="noopener"
                    target="_blank"
                    href="https://www.instagram.com/julian._.parrac/"
                >
                    <i class=""></i>
                    <span class="">Instagram</span></a
                >
            </li>

            <li
                class="flex font-medium size-4 text-black bg-white w-auto cursor-pointer text-center items-center py-2 px-3 mr-2 transition-all rounded-md"
            >
                <a
                    rel="noopener"
                    target="_blank"
                    href="mailto:parracardenas17@gmail.com"
                    ><i class="fa-solid fa-envelope"></i>
                    <span class="">Email</span></a
                >
            </li>
        </ul>
    </div>

    <div class="flex basis-6/12 flex-col ml-4">
        <div class="flex flex-col bg-white h-1/2 px-5 py-2 rounded-xl text-pretty">
            <h2 class=" my-5 text-nowrap size-4 font-bold ">Sobre Mi</h2>
            <p class=" pb-5">
                Desarrollador Web con experiencia en diseño, desarrollo y
                mantenimiento de aplicaciones web Front-end
            </p>
        </div>

        <div class=" border-white border-2 rounded-3xl h-auto mt-2 ">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3971.163100435759!2d-73.37365562631598!3d5.542818033784802!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e6a7e9d66ba7705%3A0x9d963a8611e2b363!2zQ3JhLiAyMyAjMjYsIFR1bmphLCBCb3lhY8Oh!5e0!3m2!1ses-419!2sco!4v1708902744225!5m2!1ses-419!2sco"
                class=" w-full h-full rounded-3xl"

                allowfullscreen=""
                
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</section>
