<section class=" flex justify-between mx-28 my-10 text-center items-center">
    <div  class=" bg-black text-white px-2 py-1 font-bold text-center ">
        J.P
    </div>

    <div class="">
        <button >
            <span >
                <i ></i>
            </span>

            <span >
                <i ></i>
            </span>
        </button>
    </div>

    <button class=" px-3 py-2 bg-black text-white rounded-3xl hover:text-black hover:bg-white transition duration-300 ease-in-out border border-black divide-black">
        <a href="/Accents/Cv Desarrollo(1).pdf" download="Cv Julian">
            <i ></i>
            <span class=" ¿">Descargar CV</span>
        </a>

    </button>
</section>