<section class=" flex w-11/12 flex-col" >
    <div class="flex flex-col content-center items-center my-8 text-black ">
        <h2>Poyectos</h2>
        <h4>Aqui hay algunos de los proyectos en los que he trabajado estos meses</h4>
    </div>

    <div class=" mx-10 flex mt-16 w-full content-center items-center ">
        <div class=" w-1/2 m-2 py-8 pr-8 overflow-hidden rounded-3xl bg-white">
            <span class=" mb-4 size-5 font-bold">
                <i class="fa solid fa-library">Experiencia Laboral</i>
                <i class="fa-solid fa-clevrom"></i>
            </span>
            <h2>AndiAutos</h2>
            <p class=" size-4 font-normal text-black">Este proyecto lo elabore para una compañia de vehiculos</p>
            <h4 class=" mt-4 text-black"> React, TypeScrip, Css, Html</h4>

            <div class="project_primary-img">
                <img class=" hover:scale-110 rounded-3xl overflow-hidden mt-4 transition-all  ease-in-out " src="/Accents/img/Captura de pantalla (11).png" alt="">
            </div>

        </div>


        <div class=" w-1/2 project_rigth">
            <div class=" m-2 py-8 pr-8 overflow-hidden rounded-3xl bg-white">
                <span class="mb-4 size-5 font-bold">
                    <i class="fa solid fa-library">Experiencia Laboral</i>
                </span>
                <h2>Corona Burguer</h2>
                <p class=" size-4 font-normal text-black" >Este proyecto lo elabore para un establecimiento de comidas rapidas reconocido en la ciudad
                    de tunja</p>
                <h4 class=" mt-4 text-black" >React, TypeScrip, Css, Html</h4>

                <div class="project_primary-img">
                    <img class=" hover:scale-110 rounded-3xl overflow-hidden mt-4 transition-all  ease-in-out " src="/Accents/img/Captura de pantalla (11).png" alt="">
                </div>
            </div>

            <div class="project_phoeny">
                <span class="mb-4 size-5 font-bold">
                    <i class="fa solid fa-library">Experiencia Laboral</i>
                </span>
                <h2>Phoenyx</h2>
                <p class=" size-4 font-normal text-black" >Este proyecto es personal, de mi marca, llevo trabajando en el vario tiempo con el fin de
                    vender productos</p>
                <h4 class=" mt-4 text-black">React, TypeScrip, Css, Html</h4>

                <div class="project_primary-img">
                    <img class=" hover:scale-110 rounded-3xl overflow-hidden mt-4 transition-all  ease-in-out " src="/Accents/img/Captura de pantalla (11).png" alt="">
                </div>
            </div>
        </div>

    </div>




</section>