<div class="projects">
    <h2 class="tecnologhes_title">Tecnologias</h2>
</div>

<section class="grid_tecnologia">

    <div class="tecnologias_container">
        <img  src="/Accents/img/js.png" alt="">
        <img  src="/Accents/img/icons8-angularjs-96.png" alt="">
        <img   src="/Accents/img/react.png" alt="">  
        <img  src="/Accents/img/icons8-mecanografiado-96.png" alt="">
        <img  src="/Accents/img/icons8-html-5-96.png" alt="">   
        <img  class="tec_img" src="/Accents/img/icons8-viento-de-cola-css-96.png" alt="">  
        <img  class="tec_img" src="/Accents/img/icons8-astro-96.png" alt="">            
    </div>
    <div class="tecnologias_container">
        <img  src="/Accents/img/js.png" alt="">
        <img  src="/Accents/img/icons8-angularjs-96.png" alt="">
        <img  src="/Accents/img/react.png" alt="">  
        <img  src="/Accents/img/icons8-mecanografiado-96.png" alt="">
        <img  src="/Accents/img/icons8-html-5-96.png" alt="">   
        <img  src="/Accents/img/icons8-viento-de-cola-css-96.png" alt="">  
        <img  src="/Accents/img/icons8-astro-96.png" alt="">                         
    </div>




</section>