---
interface Props {
  title: string;
}

const { title } = Astro.props;
import '@fontsource-variable/nunito-sans';
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/jpg+xml" href="/julian.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="dark:bg-zinc-900">
    <slot />
    <script src="../scripts/navBar.js"></script>
    <script is:inline>
      const theme = (() => {
        if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
          return localStorage.getItem('theme');
        }
        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
          return 'dark';
        }
        return 'light';
      })();

      if (theme === 'light') {
        document.documentElement.classList.remove('dark');
      } else {
        document.documentElement.classList.add('dark');
      }
      window.localStorage.setItem('theme', theme);
    </script>
    <script>
      document.getElementById('button')?.addEventListener('click', () => {
        let tec = document.querySelector('.grid_tecnologia');
        if (localStorage.theme === 'dark') {
          localStorage.theme = 'light';
          document.documentElement.classList.remove('dark');
          tec.classList.remove('dark');
          tec.classList.add('fondo');
        } else {
          localStorage.theme = 'dark';
          document.documentElement.classList.add('dark'), tec.classList.add('dark');
        }
      });
    </script>
  </body>
</html>
<style is:global>
  html,
  body {
    font-family: 'Nunito Sans Variable', sans-serif;
    margin: 0;
    overflow-x: hidden;
    overscroll-behavior: none;
    font-family: system-ui, sans-serif;
    background: #f5f5f7;
    width: 100%;
  }
</style>
